link(href='/stylesheets/style.css' rel='stylesheet')
script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
script(src='/javascripts/demo.js')
h1 Try it out!
img(src='/images/jj.jpg')
form
  input.def(value='method-name')
  input.variable(value='variable')
  input.action1(value='methodcall')
  input.conditional(value='conditional')
  input.trueAction(value='true')
  input.falseAction(value='false')
  button.rubify Rubify!

.code Your graph compiled to ruby!
